.left{
    /* position: absolute; */
    background-color: #123;
    height: 100px;
    margin-right:100px;
}
.right{
    position: absolute;
    height:100px;
    width:100px;
    right:0px;
    background-color:#fcc;
    opacity:0.5;
}
*{
    margin:0;
    padding:0;
}