.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-radius: 50%;
  position: absolute;
}
.circle1 {
  border-color: blue;
}

.circle2 {
  left: 130px;
}

.circle3 {
  border-color: red;
  left: 260px;
}

.circle4 {
  border-color: yellow;
  left: 65px;
  top: 50px;
}

.circle5 {
  border-color: green;
  left: 195px;
  top: 50px;
}

.box {
  position: fixed;
  width: 380px;
  height: 170px;
  top: 50%;
  left: 50%;
  margin-left: -190px; /* 100*3+20*3+20 */
  margin-top: -85px; /* 100+20+50 */
}

* {
  margin: 0;
  padding: 0;
}
