/* * {
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei", arial;
}
.list-item {
  list-style: none;
  line-height: 24px;
  padding: 5px;
}
.list-item a {
  text-decoration: none;
  color: #f40;
  font-weight: bold;
  font-size: 24px;
  padding: 5px 10px;
}
.nav li {
  float: left;
  margin: 0 5px;
  padding: 10px;
}
.list-item a:hover {
  background-color: #f40;
  color: #fff;
  border-radius: 25px;
  height: 24px;
  line-height: 24px;
}
ul.nav::after {
  content: "";
  display: block;
  clear: both;
} */
*{
    margin:0;
    padding:0;
    color:#424242;
    font-family:"microsoft yahei","arial";
}
a{
    text-decoration: none;
}
.nav::after{
    content:"";
    display:block;
    clear: both;
}
.nav{
    list-style: none;
}
.nav .list-item{
    float:left;
    margin:0 10px;
    height:30px;
    line-height: 30px;
    /* border:1px solid black; */
}
.nav .list-item a{
    color:#f40;
    font-weight: bold;
    height:30px;
    display:inline-block;
    padding:0 5px;
    border-radius:15px;
}
.nav .list-item a:hover{
    background-color: #f40;
    color:#fff;
}